@import "tailwindcss";

@theme {
  --color-bio-dark: #012326;
  --color-bio-green-dark: #31591E;
  --color-bio-green: #568C1F;
  --color-bio-green-light: #88BF11;
  --color-bio-light: #F2F2F2;
}

body {
  background-image: url('/1.png');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-color: transparent;
  margin: 0;
  padding: 0;
}

input {
  border-color: transparent !important;
  outline: none !important;
  box-shadow: none !important;
}
